<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<meta lang="en">
	</head>

	<body>
		<header>
			<nav class="main-nav">
				<a href="index.html">Home</a> | <a href="projects.html">Projects</a> | <a href="about.html">About</a> | <a href="blog.html">Blog</a>
			</nav>
			<section id= "<%= @hero %>">
				<h1><%= @main_title %></h1>
				<img src="<%= @image %>">
				<h2><%= @title %></h2>
			</section>
		</header>

		<section class="main-content">
			<%= yield %> 
		</section>

		<section id="social">
			<div class="container">
				<h3>Find Logan Around the Inter-Webs</h3>
				<a href="https://www.github.com/loganmeetsworld">Github</a> | <a href="https://www.twitter.com/loganmeetsworld">Twitter</a> | <a href="http://linkedin.com/in/mcdonaldlogan">LinkedIn</a> | <a href="https://www.instagram.com/loganmeetsworld">Instagram</a>
			</div>
		</section>

		<footer>
			<p>Copyright &copy; <%= Time.now.year %> Logan McDonald. All rights reserved.</p>
		</footer>

	</body>
</html>